@charset "UTF-8";

@font-face {
    font-family: "HOSHIKO" ;
    src: url(../fonts/Hoshiko\ Satsuki.ttf) format("truetype");
    font-weight: normal;
}

:root{
    --cor01: #01258F ;
    --cor02: #011142;
    --cor03: #0231BD;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    width: 100%;
}
body{
    background-image: linear-gradient(to right, var(--cor03), var(--cor02), var(--cor01));
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    padding: 10px;
    flex-flow: column;

    background-image: url(../imagens/header-banner.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

header > nav{
    display: none;
}
header > nav > a {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #0111428b;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;

    justify-content: center;
    transition: transform 0.3s ease;
}
header > nav > a:hover{
    background-color: #0231BD;
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.05);
}
header > img.logo{
    width: 100%;
    max-width: 220px;
    margin: auto;
}
span#burguer{
    display: block;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
span#burguer:hover{
    color: #0240f9;

}
main{
    max-width: 800px;
    min-height: 100vh;
    background-color: white;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid black;

    padding: 20px;
}
 section > h1 {
    text-align: center;
    font-size: 1.5em;
}
section > p {
    text-align: justify;
    font-size: 1.3em;
    text-align: center;
}
 div.duvida >  h2{
    margin-top: 30px;
    text-align: center;
}
div.duvida > p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;
}
div.container{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
section#planosunidades > p {
    text-align: center;
}
div.hero1, div.hero2 {

    width: 100%;
    max-width: 300px;
    height: 400px;
    margin-top: 20px;
    border: 3px solid var(--cor02);

    display: flex;
    flex-flow: column;
    align-items: center;

    transition: transform 0.4s ease;
}
div.hero1 {
    background-image: url(../imagens/gym.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

}
div.hero2{
    background-image: url(../imagens/gym2.jpg);
    background-size: cover;
    background-attachment: scroll;
}
div.hero1:hover, div.hero2:hover {
    transform: scale(1.03);
    cursor: pointer;
}
div.hero2 > h3, div.hero1 > h3 {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    letter-spacing: 10px;

    text-shadow: 1px 1px 0px var(--cor02);
}
div.hero2 > p.apartir{
    color: white;
    margin-bottom: 10px;
}
div.hero2 > p.reais {
    color: #0040ff;
    font-size: 1.6em;
    font-weight: bolder;
}
div.hero2 > p.nmes{
    color: white;
    margin-top: 10px;
}
div.hero2 > a, div.hero1 > a{
    background-color: #0040ff7c;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;

    margin:auto;
    margin-top: 20px;
}
div.hero2 > a:hover, div.hero1 > a:hover {
    background-color: var(--cor02);
    text-decoration: underline;
    transition: 2s;
    transform:  scale(1.05);
}
div.hero2 > ul.pinfinity{
    color: white;
    text-decoration: none;
    padding: 10px;

    letter-spacing: 2px;
}

div.hero1 > p {
    color: white;
    
}
div.hero1 > p.partir{
    color: aliceblue;
    text-align: center;
    font-size: 0.9em;
}
div.hero1 > p.plano{
    color: #0040ff;
    font-weight: bolder;
    font-size: 1.6em;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}
div.hero1 > p.mes{
    font-size: 0.9em;
}
div.hero1 > ul {
    color: rgb(250, 251, 251);
    padding: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
}
section > p > span.alpha{
    color: white;
    background-color: #00207e ;
    border-radius: 10px;
    padding: 6px;
    font-size: 0.9em;
    font-weight: bolder;
}
section > p{
    margin-top: 30px;
    text-indent: 30px;
    text-align: center;
}
section > div.aviso{
    border: 3px solid #0231BD;
    max-width: 540px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
}

section > div.aviso > h3 {
    color: #0231BD;
    font-size: 1.2em;
    margin-bottom: 10px;
}
section > div.aviso > ul{
    list-style: decimal;
    padding: 10px;
}
section > div.aviso > ul > li > span{
    font-weight: bold;
}
section#banner{
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
    padding: 20px;

    background-image: url(../imagens/banner-alpha-900.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    overflow: hidden;
    border-radius: 20px;
}
section#banner > div.nos {
    color: white;
    padding: 10px;
    background-color: #00000056;
}
section#banner > div.nos > h1 > span{
    color: #0240f9;
}
section#banner > div.nos > h2 > span.diferente{
    color: #003ef7;
}
section#banner > div.nos > p{
    margin-top: 5px;
}
section#banner > div.nos > h2 {
    margin-top: 20px;
}
section#banner > div.nos > h2.modalidades > span{
    color: #265af7;
}
section#banner > div.nos > h1.beneficios {
    margin-top: 25px;
}
section#banner > div.nos > div#imgapp{
   box-shadow: 0px 0px 3px #003ef7;
   min-height: 350px;
   margin-top: 20px;
   
}
section#banner > div.nos > div#imgapp > div.appimagem{
    background-image: url(../imagens/alpha-app-1200.png);
    background-size: cover;
    height: 200px;
}
section#banner > div.nos > div#imgapp > h1.appalpha{
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
}
section#banner > div.nos > div#imgapp > p{
    font-size: 0.9em;
    text-align: center;
    margin-top: 4px;
}
section#banner > div.nos > p.saibamais > a{
    display: flex;
    justify-content: center;
    background-color: #14224d94;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;

    transition: transform 0.3s ease;
}
section#banner > div.nos > p.saibamais > a:hover{
    background-color: #003ef7;
    text-decoration: underline;
    transform: scale(1.06);
}
section#banner > div.nos > div#imgapp > p.download{
    margin-top: 20px;
}
section#banner > div.nos > div#imgapp > p.download > a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: #12151e87;
    color: white;
    border-radius: 3px;

    transition: transform 0.4s ease;
}
section#banner > div.nos > div#imgapp > p.download > a:hover{
    background-color: #0040ff;
    text-decoration: underline;
    transform: scale(1.04);
}

aside > section > details > summary {
    font-size: 1.3em;
    cursor: pointer;
    transition:  transform 03 ease ;
}
aside > section > details > summary:hover {
    color: #003ef7;
    transform: scale(1.05);
}
aside > section > details > p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.1em;
}


aside > section > details {
    padding: 15px 0px;
    border-bottom: 2px solid black;
}
aside > section > details > ul, aside > section > details > ul > p{
    margin-top: 10px;
    
    
}
aside > section > details > ul > li > span, aside > section > details > p > span, aside > section > details > ul > p > span{
    font-weight: bold;
}
aside > section > details > ul > li > span.taxaalpha{
    color: #0040ff;
}
aside > section > details > ul > li {
    margin-top: 10px;
    text-indent: 10px;
    text-align: justify;
}
