@charset "UTF-8";

@font-face {
    font-family: "HOSHIKO" ;
    src: url(../fonts/Hoshiko\ Satsuki.ttf) format("truetype");
    font-weight: normal;
}

:root{
    --cor01: #01258F ;
    --cor02: #011142;
    --cor03: #0231BD;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    width: 100%;
}
body{
    background-image: linear-gradient(to right, var(--cor03), var(--cor02), var(--cor01));
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    align-items: center;
    background-color: white;

    justify-content: space-between;
    gap: 20px;
}

header > nav{
    display: none;
}
.menu-nav {
    display: flex;
    text-decoration: none;
    color: white;
    background-color: #0111428b;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;

    justify-content: center;
    transition: transform 0.3s ease;
}
.menu-nav:hover{
    background-color: #0231BD;
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.05);
}
.logo{
    width: 140px;
}
#container{
    display: flex;
    align-items: center;
}
.btn-buscar{
    background-image: linear-gradient(to right, var(--cor03), var(--cor01), var(--cor02));
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bolder;
}
.btn-buscar:hover {
    background-color: #003ef7;

}
#burguer{
    color: rgb(4, 1, 1);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 3em;
}
#burguer:hover{
    color: #0240f9;

}

main{
    width: 100%;
    min-height: 100%;
    background-color: rgb(241, 239, 239);
    margin: auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.492);
   

    padding: 20px;
}
 section > h1 {
    text-align: center;
    font-size: 1.5em;
   margin: 30px 0px 10px;
}
section > p {
    text-align: justify;
    font-size: 1.3em;
    text-align: center;
}
 div.duvida >  h2{
    margin-top: 30px;
    text-align: center;
}
div.duvida > p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8px;
}
.cards{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
    
}
.descricao-unidade {
    margin-top: 20px;
    text-align: center;
    font-size: 1.1em;
}
 .card2 , .card1 {

    width: 100%;
    max-width: 300px;
    height: 400px;
    margin-top: 20px;
    border: 3px solid var(--cor02);

    display: flex;
    flex-flow: column;
    align-items: center;
    transition: transform 0.4s ease;

 }


.card1 {
    background-image: url(../imagens/gym.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

}
.card2{
    background-image: url(../imagens/gym2.jpg);
    background-size: cover;
    background-attachment: scroll;
}
.card1:hover, .card2:hover {
    transform: scale(1.03);
    cursor: pointer;
}




.titulo-plano {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 1.5em;
    letter-spacing: 10px;

    text-shadow: 1px 1px 0px var(--cor02);
}
.texto-preco{
    color: white;
    margin-bottom: 10px;
}
.valor-plano {
    color: #0040ff;
    font-size: 1.6em;
    font-weight: bolder;
}
.periodo-plano{
    color: white;
    margin-top: 10px;
    font-size: 1.2em;
}
.card-botao {   
    background-color: #0040ff7c;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;

    margin:auto;
    margin-top: 20px;
}
.card-botao:hover {
    background-color: var(--cor02);
    text-decoration: underline;
    transition: 2s;
    transform:  scale(1.05);
}
.beneficios-plano{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;

    letter-spacing: 2px;
}

.valor-plano{
    color: #0040ff;
    font-weight: bolder;
    font-size: 1.6em;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.descricao-duvida{
    margin-top: 30px;
    text-indent: 30px;
    text-align: center;
}

.aviso { 
    display: flex;
    border: 3px solid #0231BD;
    max-width: 540px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;

    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 8px;
}
.titulo-aviso {
    margin-top: 10px;
    color: #0231BD;
    font-size: 1.2em;
    
}
.descricao-aviso{
    list-style: decimal;
    padding-left: 54px;
}
.descricao-aviso li {
    margin-top: 5px;
}

.ponto-exclamacao {
    max-width: 40px;
}
#diferenciais{
    width: 100%;
    min-height: 300px;
    margin-top: 20px;
    padding: 20px;

    background-image: url(../imagens/banner-alpha-900.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;

    overflow: hidden;
    border-radius: 20px;
}
.alpha-diferente{
    color: white;
}
.fidelidade-adesao{
    color: white;
}
.assunto-extra{
    color: white;
    padding: 10px;
    background-color: #00000056;
}
.alpha-blue{
    font-weight: bolder;
    color: #0240f9;
}
.descricao{
    color: white;
    margin-top: 5px;
}
.titulo-modalidades {
    color: white;
    margin-top: 20px;
}

.beneficios {
    color: rgb(255, 255, 255);
    margin-top: 25px;
    
}
#imagem-aplicativo{
   box-shadow: 0px 0px 3px #003ef7;
   min-height: 350px;
   margin-top: 20px;
   
}
.appimagem{
    background-image: url(../imagens/alpha-app-1200.png);
    background-size: cover;
    height: 200px;
}
.alpha-app{
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
}
.descricao-app{
    color: white;
    font-size: 0.9em;
    text-align: center;
    margin-top: 6px;
    padding: 5px;
}
.saibamais-botao{
    display: flex;
    justify-content: center;
    background-color: #14224d94;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;

    transition: transform 0.3s ease;
}
.saibamais-botao:hover{
    background-color: #003ef7;
    text-decoration: underline;
    transform: scale(1.06);
}
.download{
    margin-top: 20px;
}
.download-app {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: #12151e87;
    color: white;
    border-radius: 3px;

    transition: transform 0.4s ease;
}
.download-app:hover{
    background-color: #0040ff;
    text-decoration: underline;
    transform: scale(1.04);
}

.faq-pergunta {
    font-size: 1.3em;
    cursor: pointer;
    transition:  transform 0.3s ease ;
}
.faq-pergunta:hover {
    color: #003ef7;
    transform: scale(1.05);
}
.lista-titulo {
    color: var(--cor03);
    text-align: center;
    margin-top: 10px;
    font-size: 1.1em;
    list-style: none;
}

.faq-item {
    padding: 15px 0px;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.descricao-faq{
    margin-top: 10px;
    
}
.faq-highlight{
    font-weight: bold;
}

.faq-pergunta::after{
    display: flex;
    transition:  transform 0.3s ease;
    list-style: none;
    content: "▼";
}
.faq-item[open] .faq-pergunta::after{
    transform: rotate(180deg);
}

.lista-titulo2{
    text-align: center;

}
.faq-item[open]{
    color: var(--cor03);
}
.faq-lista li {
    color: black;
    margin-top: 7px;
}
.botao-tag{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #003ef7;
    padding: 4px;
    border-radius: 10px; 
    transition:  transform 0.4s ease;
}

.botao-tag:hover{
    cursor: pointer;
    background-color: #00207e;
    text-decoration: underline;
    transform: scale(1.05);

}

.faq-lista-titulo{
    text-align: center;
}

.botao-taxas{
    font-size: 0.8em;

}

.descricao-faq{
    color: black;
    text-align: center;
}
.embaixador-img{
    width: 100%;
    min-height: 750px;
    background-image: url(../imagens/embaixador-alpha.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;

    box-shadow: 0px 0px 4px #0040ffca;
    margin-top: 15px;

    border-radius: 10px;
}
.whatsapp{
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 60px;
    transition: transform 0.3s ease;
}
.whatsapp:hover{
    transform: scale(1.1);
}
#img-rotina{
    background-image: url(../imagens/embaixador-alpha.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
}